/nbproject/private/
/settings.php
/backup/*.sql
/config/*.conf
/src/node_modules/*
/systemd/shcc.service
/systemd/shcc-minutely.service
/systemd/shcc-minutely.timer
/custom/*
!/custom/lib.php
!/custom/functions.php
!/custom/minutely.sh
!/custom/*.sample.php
!/custom/dashboard/
/custom/dashboard/*
!/custom/dashboard/*.sample.php
