/nbproject/private/
/settings.php
/config/*.conf
/node_modules/
/package-lock.json
/logs/
/custom/
!/custom/backup/
/custom/backup/*.sql
!/custom/lib.php
!/custom/functions.php
!/custom/minutely.sh
!/custom/*.sample.php
!/custom/dashboard/
/custom/dashboard/*
!/custom/dashboard/*.sample.php
!/custom/sound/dingdong.mp3
!/custom/sound/notification.mp3
/composer.lock
/vendor/
