settings.json
backup/*.sql
config/*.conf
node_modules/*
daemon/phpmd
systemd/phpmd.service
systemd/phpmd-minutely.service
systemd/phpmd-minutely.timer
custom/*
!custom/lib.php
!custom/*.sample.php
!custom/minutely.sh
