[Unit]
Description=Neohome daemons
After=nginx.service
After=php-fpm.service
After=network.target
After=postgresql.service

[Service]
Type=forking
WorkingDirectory=/var/www/neohome/daemon/
RuntimeDirectory=neohome
LogsDirectory=neohome
CacheDirectory=neohome
ExecStart=/usr/bin/php -f daemonctl.php start
ExecStop=/usr/bin/php -f daemonctl.php stop
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target