#!/bin/bash
### BEGIN INIT INFO
# Provides:          phpmd
# Required-Start:    $network $syslog mysql
# Required-Stop:     $network $syslog mysql
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: phpmd-daemon init stcript
# Description:       This file should be used to construct scripts to be
#                    placed in /etc/init.d.
### END INIT INFO

cd /var/www/phpmd/daemon
/usr/bin/php -f daemonctl.php $@
