[Unit]
Description=SHCC module daemon "%I"
After=nginx.service php-fpm.service postgresql.service sound.target
StopWhenUnneeded=yes

[Service]
Type=simple
WorkingDirectory=/var/www/shcc/service
CacheDirectory=shcc
ExecStart=/usr/bin/php daemon.php %I
Restart=on-failure
RestartSec=30s
SyslogIdentifier=shcc@%I
EnvironmentFile=-/etc/sysconfig/shcc

[Install]
WantedBy=shcc.target
