[Unit]
Description=SHCC minutely script

[Service]
ExecStart=/usr/bin/curl -sS ${SERVER_URL}/api/timer/
Environment="SERVER_URL=http://127.0.0.1"
EnvironmentFile=-/etc/sysconfig/shcc
