@import "functions";
@import "variables";
@import "mixins";
@import "reboot";
@import "tables";
@import "forms";
@import "nav";
@import "navbar";
@import "buttons";

.bg-gray {
    background-color: #e5e5e5;
}

main {
    padding: 1rem;
}

footer {
    padding: 1rem;    
}