@import "functions";
@import "variables";
@import "mixins";
@import "reboot";
@import "tables";
@import "forms";
@import "nav";
@import "navbar";
@import "buttons";
@import "transitions";
@import "utilities/align";
@import "utilities/background";

main {
    padding: 1rem;
}

footer {
    color: white;
    padding: 1rem;    
}